<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kevinhodges.dragonborn">

    <application
        android:name=".application.DragonbornApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <service
            android:name=".utils.MusicService"
            android:stopWithTask="true" />

        <activity android:name=".TitleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.RaceSelectActivity" />
        <activity android:name=".activities.CombatActivity" />
        <activity android:name=".activities.InfoActivity" />
        <activity android:name=".activities.StoryActivity" />
        <activity android:name=".activities.CampActivity"></activity>
    </application>

</manifest>
